<div id="stories">

	<div class="container-flex">
		<% @stories.each do |story| %>
			<div class="card">
				<div class="card-title">
					<%= story.title %>
				</div>
				<div class="more">
					<p>
						<%= story.story %>
					</p>	
				</div>
			</div>
		<% end %>
	</div>

</div>