<h1>New Fan</h1>

<%= render partial: 'fans/form', :fan => @fan %>

<%= render partial: 'helps/form', :help => @help %>

<%= render partial: 'codeworks/form', :codework => @codework %>

<%= link_to 'Back', fans_path %>
