	
	<div class="container-flex yield">
		<% @stories.each do |story| %>
			<div class="col-sm-2">
				
						
						<div class="card-title">
							<%= story.title %>
						</div>
			</div>

			<div class="col-sm-2">
						<div class="more">
							<p>
								<%= story.story %>
							</p>	
						</div>
			</div>
			
		<% end %>
	</div>