/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

body, html {
    height: 100%;
    margin: 0;
//    background-color: black;
}

.intro_image {

    /* Full height */
    height: 100%; 
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 	background-color: black;   
}

#main_content {
    background-image: url(fruit.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg {
    /* The image used */
    background-image: url(intro1.jpg);

    /* Full height */
    height: 100%;
    width: 100%;

     

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.intro_name {

	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
	text-align: center;
	color: #ffffff;
	background-color: #312a38;
	letter-spacing: 5px;
	
	border: 18px solid #312a38;
	padding: 3px;
	padding-left: 3px;
}

#frame_1 {
    background-color: #ffbb84;
    color: #ffbb84;
    
    border-radius: 50%;
}

.kerron_circle {
    border-radius: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    width: 92%;
    height: 92%;
    top: 50%;
    left: 50%;
}

.clear-bg {background-color: transparent;}
.shapeborder { border: 7px solid white;}
.circle { border-radius: 50%;}
.noborder {border: none;}

.c1 {
//    background-color: #ffbb84;
    background-color: #fc866f;
    width: 450px;
    height: 450px;
    position: relative;
    left: 32%;
}

.c2 {
    background-color: #64ba44;
    transform: translate(-50%, -50%);
    top: 50%; 
    left: 50%;
    width: 95%;
    height: 95%;
    position: relative;
}

.c3 {
//    background-color: #d4aae0;
    background-color: #9bc9f2;
    transform: translate(-50%, -50%);
    top: 50%; 
    left: 50%;
    width: 93%;
    height: 93%;
    position: relative;
}

.blk-rim { border: 7px solid #312a38; }

#me {
    background-color: #312a38;
    color: #ffffff;
    border: 18px solid #312a38;
    position: relative;

    text-align: center;
    letter-spacing: 7px;
    top: 135px;
    left: 17%;
}

.i_am {
    background-color: #312a38;
    color: #ffffff;
    border: 10px solid #312a38;
    position: relative;

    text-align: center;
    letter-spacing: 7px;
    top: 115px;
    left: 50%;
    width: 35%;
}

#role_developer {
    width: 56%;
    left: 40%;
}

.social_media {
    background-color: #312a38;
    color: #ffffff;
    border: 7px solid #312a38;
    width: 43%;
//    position: relative;
//    justify-content: center;
}